body {
	background-color: #333;
	color: #ccc;
	padding: 1rem 1rem;
	font-family: sans-serif;

	.searchArea {
		margin-bottom: 1rem;
	}

	.supertitle {
		margin-bottom: -1rem;
		font-size: .9rem;
		color: rgb(221, 221, 180);
	}

	.timesApiAccessed {
		color: rgb(216, 92, 92);
		font-size: 1.3rem;
		font-style: italic;
		margin-top: 1rem;
	}
}
